body {
    font-family: Arial;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

.error {
    color: red;
    font-size: 13px;
    height: 14px;
    margin-bottom: 10px;
}
